src/flows/RecordTransferAuthorizationFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_user_connected_app_data</name>
        <label>Assign user connected app data</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>clientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientIdInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientSecret</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientSecretInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callbackUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallbackURLInput.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEnvironment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enviroment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AuthorizationWindow</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PicklistProductionUrl</name>
        <choiceText>Production</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ProductionUrl</elementReference>
        </value>
    </choices>
    <choices>
        <name>PicklistSandboxUrl</name>
        <choiceText>Sandbox</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SandboxUrl</elementReference>
        </value>
    </choices>
    <constants>
        <name>ProductionUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://login.salesforce.com/</stringValue>
        </value>
    </constants>
    <constants>
        <name>SandboxUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://test.salesforce.com/</stringValue>
        </value>
    </constants>
    <interviewLabel>Record Transfer Authorization Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Transfer Authorization Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AuthorizationWindow</name>
        <label>Authorization Window</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuthorizeComponent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Try to authorize lwc component&lt;/p&gt;&lt;p&gt;{!clientId}&lt;/p&gt;&lt;p&gt;{!clientSecret}&lt;/p&gt;&lt;p&gt;{!callbackUrl}&lt;/p&gt;&lt;p&gt;{!SelectedEnvironment}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationComponent</name>
            <extensionName>c:authorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callbackUrl</name>
                <value>
                    <elementReference>callbackUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientSecret</name>
                <value>
                    <elementReference>clientSecret</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>environmentUrl</name>
                <value>
                    <elementReference>SelectedEnvironment</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConnectedAppParams</name>
        <label>Connected App Params</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_user_connected_app_data</targetReference>
        </connector>
        <fields>
            <name>ConnectedappWasCreatedText</name>
            <fieldText>&lt;p&gt;When the Connected app was created on Parent org then copy some information here &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientIdInput</name>
            <fieldText>Client Id</fieldText>
            <fieldType>PasswordField</fieldType>
            <helpText>&lt;p&gt;Consumer Key&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClientSecretInput</name>
            <fieldText>Client Secret</fieldText>
            <fieldType>PasswordField</fieldType>
            <helpText>&lt;p&gt;Consumer Secret&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallbackURLInput</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Callback URL</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enviroment</name>
            <choiceReferences>PicklistProductionUrl</choiceReferences>
            <choiceReferences>PicklistSandboxUrl</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enviroment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Environment  from where you want to transfer data&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateParentConnectedApp</name>
        <label>Create Parent Connected App</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConnectedAppParams</targetReference>
        </connector>
        <fields>
            <name>CreateConnectedApp</name>
            <fieldText>&lt;p&gt;Create a Connected App on Parent org (org from where you want to copy records)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateParentConnectedApp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>callbackUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>clientSecret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedEnvironment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
