src/flows/RecordTransferAuthorizationFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_user_connected_app_data</name>
        <label>Assign user connected app data</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>clientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientIdInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientSecret</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientSecretInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callbackUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallbackURLInput.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedEnvironment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enviroment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AuthWindow</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PicklistProductionUrl</name>
        <choiceText>Production</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ProductionUrl</elementReference>
        </value>
    </choices>
    <choices>
        <name>PicklistSandboxUrl</name>
        <choiceText>Sandbox</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SandboxUrl</elementReference>
        </value>
    </choices>
    <constants>
        <name>ProductionUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://login.salesforce.com/</stringValue>
        </value>
    </constants>
    <constants>
        <name>SandboxUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://test.salesforce.com/</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Record Transfer Authorization Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Transfer Authorization Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AuthWindow</name>
        <label>Authorization Window</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuthenticationHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(86, 84, 84);&quot;&gt;Authentication&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthenticationComponent</name>
            <extensionName>c:authentication</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callbackUrl</name>
                <value>
                    <elementReference>callbackUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientId</name>
                <value>
                    <elementReference>clientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientSecret</name>
                <value>
                    <elementReference>clientSecret</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>environmentUrl</name>
                <value>
                    <elementReference>SelectedEnvironment</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AuthErrorDescription</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;If you have created a connected app (or updated client id/secret) and seen an error like on the image then you should wait up to 10 min before your connected app changes are saved.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Or check if you pointed out the correct Connected app information from the previous screen.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthErrorImg</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>AuthError</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>400px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Auth Error </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConnectedAppParams</name>
        <label>Connected App Params</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_user_connected_app_data</targetReference>
        </connector>
        <fields>
            <name>GetConnectedAppDataHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(86, 84, 84);&quot;&gt;Get Connected App Data&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConnectedappWasCreatedText</name>
            <fieldText>&lt;p&gt;When the Connected app was created on Parent org then copy some information here:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10.3376px; font-family: Helvetica; color: rgb(74, 74, 86);&quot;&gt;*Open &lt;/strong&gt;&lt;strong style=&quot;font-size: 10.3376px; font-family: Helvetica; color: rgb(154, 8, 8);&quot;&gt;Consumer Key and Secret&lt;/strong&gt;&lt;strong style=&quot;font-size: 10.3376px; font-family: Helvetica; color: rgb(74, 74, 86);&quot;&gt; from the connected app&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientIdInput</name>
            <fieldText>Client Id</fieldText>
            <fieldType>PasswordField</fieldType>
            <helpText>&lt;p&gt;Consumer Key&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClientSecretInput</name>
            <fieldText>Client Secret</fieldText>
            <fieldType>PasswordField</fieldType>
            <helpText>&lt;p&gt;Consumer Secret&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallbackURLInput</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Callback URL (same as you pointed out in the connected app)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enviroment</name>
            <choiceReferences>PicklistProductionUrl</choiceReferences>
            <choiceReferences>PicklistSandboxUrl</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enviroment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Environment  from where you want to transfer data&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateParentConnectedApp</name>
        <label>Create Parent Connected App</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConnectedAppParams</targetReference>
        </connector>
        <fields>
            <name>ConnectedAppHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(86, 84, 84);&quot;&gt;Create Connected App&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateConnectedApp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create a Connected App on Source org (org from where you want to copy records) and fill in the next fields :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(154, 8, 8);&quot;&gt;Selected OAuth Scopes&lt;/strong&gt;:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Full access (full)&lt;/li&gt;&lt;li&gt;Perform requests at any time (refresh_token, offline_access)&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(154, 8, 8);&quot;&gt;Callback URL:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;https:&lt;strong style=&quot;color: rgb(154, 8, 8);&quot;&gt;&lt;em&gt;&lt;u&gt;your.org.url&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;/lightning/n/TransferRecordsFromAnotherOrg &lt;em&gt;&lt;u&gt;(you can copy it from the URL bar)&lt;/u&gt;&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConnectedAppSettingsPic</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ConnectedAppSettings</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Connected App Settings </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>300px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateParentConnectedApp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>callbackUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>clientSecret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedEnvironment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
